<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>login</h2>
    <form method="post" action="/login">
      <input type="text" name="name" />
      <input type="password" name="password" />
      <input type="submit" name="login" />
    </form>
  </body>
</html>
