<!DOCTYPE html>
<html>
  <head>
    <title><%= `${tag} search` %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= `${tag} search` %></h1>
    <% include _tweets %>
  </body>
</html>
